.ContatoContainerCard {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}
.ContatoContainerCardInner {
  height: 300px;
  width: 900px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ContatoContainerCardInnerLeft {
  height: 300px;
  width: 300px;
  margin: 40px;
  display: flex;
  flex-direction: column;
}
.ContatoContainerCardInnerMid {
  height: 300px;
  width: 300px;
  margin: 40px;
}
.ContatoContainerCardInnerRight {
  height: 300px;
  width: 300px;
  margin: 40px;
}
.ContatoContainerCardInnerUpperBox {
  height: 20px;
  width: 300px;
  background-color: rgb(104, 195, 248);
  border-radius: 10px 10px 0px 0px;
}
.ContatoContainerCardInnerText {
  background-color: rgb(255, 255, 255);
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ContatoContainerCardInnerText > H1 {
  width: 300px;
  margin: 20px 0 0 0;
  overflow-wrap: break-word;
  padding: 0px 0px 0px 40px;
  box-sizing: border-box;
  font-size: 26px;
}
.ContatoContainerCardInnerText > H6 {
  width: 300px;
  overflow-wrap: break-word;
  padding: 0px 40px 0px 40px;
  font-size: 12px;
  box-sizing: border-box;
}
.ContatoContainerCardInnerButton {
  width: 280px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  border: rgb(104, 195, 248);
  border-style: solid;
  border-radius: 100px;
  cursor: pointer;
}
